:host {
    display: block;
}

core-list {
    height: 200px;
}

.tag {
    background: #607D8B;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}