:host {
    display: block;
                margin-bottom: 30px;

}

paper-shadow {
    background: white;
    margin: 10px;
}

.project-cover {
    width: 100%;
}

.project {
    margin-bottom: -8px;
}

.details {
    padding: 20px;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.project-tag {
    background: #00BCD4;
    padding: 8px;
    border-radius: 3px;
    color: white;
    margin-right: 5px;
}

#moreInfoButton {
    display: none;
}

.project:hover #moreInfoButton {
    display: block;
}